<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Mental health intergrated AI" />
    <meta name="title" content="Mental HealthCare" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Mental HealthCare</title>
  </head>
  <body>
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> Mental Health Chat
        </div>
      </header>

      <main class="msger-chat">
        <div class="msg left-msg">
          <div
            class="msg-img"
            style="
              background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg);
            "
          ></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name"></div>
              <div class="msg-info-time"></div>
            </div>

            <div class="msg-text">
              Hi, welcome to Mental HealthCare Bot! Go ahead and send me a message. 😄
            </div>
          </div>
        </div>

      </main>

      <form class="username-inputarea">
        <input
          type="text"
          class="username-input"
          placeholder="Enter your username..."
        />
        <button type="submit" class="username-register-btn">Chat</button>
      </form>

      <form class="msger-inputarea">
        <input
          type="text"
          class="msger-input"
          placeholder="Enter your message..."
        />
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section>

    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
